[Unit]
Description=Gunicorn instance
After=network.target

[Service]
User=
Group=www-data
Restart=on-failure
RestartSec=5s
WorkingDirecrory=/home/pvv110401/ServerLab
Enviroment="PATH=/home/pvv110401/ServerLab/venv/bin"
ExecStart=/home/pvv110401/ServerLab/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:80 src.main:app

[Install]
WantedBy=multi-user.target

